.cartAmmount-container{
  display: flex;
flex-flow: column;
 
}
.discount{ 
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex: 1;
}
.discountLogo{
  width: 25px;
  height: 25px;
  order: 1;
}
.discountText{
 order: 2;
}
.subtotal, .total{
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex: 1;

}
.dashed {
  border-top: 3px dashed #000;
}
