.cartAmmount-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.discount ,.subtotal, .total { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.discountLogo{
  width: 25px;
  height: 25px;
}
.discountText{
  text-align: center;
}
.subtotal, .total{
  font-size: 1.8em;
  font-weight: bold;

}
.dashed {
  border-top: 3px dashed #000;
}
