.container-item {
    padding-top: 0.1em;
}

.container-item__title {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-weight: bold;
    font-size: 1.2em;
}

.item-Adrr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.721);
    border-radius: 15px;
    padding: 1em;
}

.item-addr-text {
    max-width: 80%;
    width: 100%;
}

.item-Sellect-wrapper {
    position: relative;
}

.item-addr-select {
    left: 8px;
    bottom: 5px;
    width: 2em;
    height: 4em;
    border: solid black;
    border-width: 0 4px 4px 0;
    background-color: black;
}

.item-addr-select {
    width: 2em;
    position: relative;
    margin: 20px auto;
}

.item-addr-select label {
    width: 2em;
    height: 4em;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.item-addr-select label:after {
    content: '';
    width: 2em;
    height: 1em;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.item-addr-select label:hover::after {
    opacity: 0.3;
}

.item-addr-select input[type=checkbox] {
    visibility: hidden;
}

.item-addr-select input[type=checkbox]:checked+label:after {
    opacity: 1;
}